<!--<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand fa fa-home" href="#"></a>
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="/type" routerLinkActive="active" class="nav-link" >
                    <i class="fa fa-th-list"></i> by Type
                </a>
            </li>
            <li class="nav-item">
                 <a routerLink="/topology" routerLinkActive="active" class="nav-link" >
                     <i class="fa fa-sitemap"></i> by Topology
                </a>
            </li>
        </ul>
    </div>
</nav>


<ul class="nav nav-pills">
  <li class="nav-item" *ngFor="let deviceType of deviceTypes">
    <a class="nav-link " routerLink="/type/{{deviceType}}" routerLinkActive="active">{{deviceType | titleize}}</a>
  </li>
</ul>

<ul class="nav nav-pills">
  <li class="nav-item" *ngFor="let building of buildings">
    <a class="nav-link " routerLink="/type/{{deviceType}}/{{building}}">{{building | titleize}}</a>
  </li>
</ul>