<!--<h3 class="card-header">{{actuator.type}}</h3>-->
<div class="card">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-block">
        <h4 class="card-title text-warning"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> {{actuator.name}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{actuator.building}} > {{actuator.floor}} > {{actuator.room}}</h6>
        <p class="card-text">{{actuator.address}}</p>
        <!--<a href="#" class="btn btn-primary">Toggle</a>-->
        <input type="checkbox" checked data-toggle="toggle">
    </div>
</div>
