<!--<h3 class="card-header">{{actuator.type}}</h3>-->
<div class="card card-inverse" (click)="toggleLight()">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-block">
        <h4 class="card-title text-warning" *ngIf="isOn">
            <i class="fas fa-lightbulb" *ngIf="isOn" aria-hidden="true"></i> 
            {{actuator.name}}
        </h4>
        <h4 class="card-title" *ngIf="!isOn">
            <i class="far fa-lightbulb" *ngIf="!isOn" aria-hidden="true"></i> 
            {{actuator.name}}
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">
            <i class="far fa-building"></i> {{actuator.building}} 
            <i class="fas fa-object-ungroup"></i> {{actuator.floor}} 
            <i class="fas fa-object-group"></i> {{actuator.room}}
        </h6>
    </div>
</div>
 